.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  &--pt-header {
    padding-top: calc(97px + 28px);
  }

  &__back {
    margin-bottom: 24px;
  }

  @media (max-width: 991px) {
    &__back {
      margin-bottom: 16px;
      padding: 10px 0;
    }
  }

  @media (max-width: 767px) {
    &--pt-header {
      padding-top: 80px;
    }
  }
}
